.Container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.Title {
    font-size: 1.875rem;
    text-decoration: underline;
    color: #000000;
    margin-bottom: 2rem;
  
  }

  .ContainerB{
    flex-direction: row;
    .Button {
      background-color: #004ea2;
      color: white;
      border: none;
      padding: 10px 20px;
      margin: 10px 10px;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;
      
  }
  }
  

.Button:hover {
    background-color: #010c19; /* Darker blue on hover */
}
  
.Popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #636363;
  z-index: 1000;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  max-width: 400px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}